<!DOCTYPE html>
<html>
<head>
  <title>Nunjuck</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <!-- You write code for this content block in another file -->
  {% block content %} {% endblock %}
</body>
</html>